Text Editor/app.py
Text Editor/lib.py
Text Editor/settings.py
Text Editor/ui.py
Text Editor/__pycache__/app.cpython-311.pyc
Text Editor/__pycache__/settings.cpython-311.pyc
Text Editor/__pycache__/ui.cpython-311.pyc
